﻿*
{
  font-family: Tahoma, Arial, Helvetica; 
}

/* Size and positioning of the main page layout */
/* The Main div of the page that holds the entire contents. 
  User to size and center the page */
#PageWrapper
{
  width: 740px;
  text-align: left;
  border: 1px solid #CCCC99;
  border-top: none;
}

/* Menu bar, right below the logo. Fixed width and padding, fixed for IE 5.x */
#Menu
{
  background-color: #CCCC99;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 740px;
  	/* Box Model Hack. Width below is the correct width, but IE 5/5.5 will use the earlier width */
	voice-family: "\"}\""; 
	voice-family:inherit;
  width: 700px;
  text-align: right;
}

/* Background of the Logo area */
#Header
{
  background-color: #999966;
}

/* The Main content section of the page */
#Content
{
  padding: 10px 20px;
}

/* Small footer that appears at the bottom of every page. Holds the copyright notice */
#Footer
{
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  color: Gray;
  text-decoration: none;
  margin-top: 10px;
}

/* Center the contents of the <body> using a margin of auto */
body
{  
	margin: 0 auto 0 auto;
  padding: 0;
  color: #000000; 
  text-align: center;
  font-size: 80%;
}

/* Color of all links */
a, a:link, a:visited, a:active
{
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

/* underline lins when hovered over */
a:hover
{
   text-decoration: underline;
}

#Menu, #Menu a
{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

#Menu .Separator
{
  font-size: 18px;
}

#Menu .Text
{
  font-size: 14px;
}

img
{
  border: none;
}

p
{
  margin-top: 0;
  margin-left: 10px;
  padding-left: 10px;
}

h1, h2, h3
{
  margin: 0;  
  margin-bottom: 2px;
}

h1
{
  font-size: 16px;
}

h2
{
  font-size: 15px;
  color: Gray;
  padding-left: 10px;
}

h3
{
  font-size: 13px;  
  padding-right: 10px;
}

.Label
{
  font-weight: bold;
}

.taskContent
{
  text-align: center;
}

