﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPage.master"  CodeFile="Default.aspx.cs" Title="XLETL WEB" Inherits="_Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div><center>
    <br /><br />
    <fieldset style="height: 200px; width: 320px;">
        <legend>User Authentication</legend>
        <asp:Login ID="Login1" runat="server" onauthenticate="Login1_Authenticate">
        </asp:Login>
        </fieldset>
        <br /><br />
    </center>
    </div>
</asp:Content>
    
